html,
body {
padding: 0;
margin: 8px;
max-width: auto;
}
.container {
  text-align: center;
  padding: 80px;
  margin: 24px;
  border: 1px;
  border: solid;
}
.headerArea {
  text-align: center;
  padding: 80px;
  margin: auto;
  border: 1px;
  border: solid;
}
.footerArea{
  text-align: center;
   padding: 80px;
   margin: auto;
   border: 1px;
   border: solid;
}

.page {
padding: 20px;
}
